{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStyleSheet": "./assets/main/css",
    "lineWidth": 80,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "tabWidth": 2
}