{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStyleSheet": "./assets/main/css",
    "lineWidth": 80,
    "endOfLine": "lf",
    "printWidth": 100,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "tabWidth": 2,
    "vue/max-attributes-per-line": true
}