@import "tailwindcss";

:root {
    --font-heading: 'Space Grotesk', sans-serif;
    --font-body: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: 600; 
}

body,
p,
li,
span {
    font-family: var(--font-body);
    font-weight: 400; 
}

nav a {
    font-family: var(--font-heading);
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #00ffff;
}

html {
    scroll-behavior: smooth;
}
