@import "tailwindcss";

@theme {
    --font-heading: 'Space Grotesk', sans-serif;
    --font-body: 'Inter', sans-serif;


    --animate-carousel: carousel-scroll 40s linear infinite;
    
    @keyframes carousel-scroll {
        from {
            transform: translateX(0);
        }

        to {
            /* Moves the track left by the width of the original set of items */
            transform: translateX(-50%);
        }
    }
}